body {
     margin: 0;
     padding: 20px;
     font-family: Arial, San-Serif;
     background: #fff;
     }
     
/* Bloco de código são marcados com fonte mono-espaçada,
   trechos de código que merecem destaque devem marcados em negrito,
   supressão de códigos devem ser marcados com fonte sobrescrito:     
*/
